
  <%= simple_form_for [@storefront.admin, @storefront, @review], :html => { :class => "form-vertical offset1" }  do |f| %>
 
  <div class="field">
    <%= f.label :title %>
    <p><%= f.text_field :title, :class => 'span10' %></p>
  </div>
  <div class="field">
    <%= f.label :details %>
    <p><%= f.text_area :description, :class => 'span10', :rows => 6 %></p>
  </div>
  <div class="actions">
    <%= f.submit 'Submit review', :class => 'btn btn-primary sharp offset8' %>
  </div>
  <% end %>
  